name: Samba

secrets:
  user_password:
    file: ./user_password.txt

services:
  samba:
    container_name: ${SAMBA_CONTAINER_NAME}
    image: crazymax/samba:${SAMBA_VERSION}
    restart: unless-stopped
    env_file:
      - samba.env
    environment:
      - CONFIG_FILE=/config.yaml
    network_mode: host
    cap_add:
      - CAP_NET_ADMIN
      - CAP_NET_RAW
    secrets:
      - user_password
    volumes:
      - ./cache:/data
      - ./config.yaml:/config.yaml
      # Additional volumes can be mounted here
    labels:
      ## Glance
      - glance.hide=false
      - glance.name=Samba
      - glance.icon=mdi:folder-network
      - glance.url=smb://${SAMBA_FQDN}
      - glance.description=Re-implementation of the SMB networking protocol (${SAMBA_VERSION}).
      - glance.category=network
