name: Traefik

networks:
  traefik_network:
    name: traefik_network

secrets:
  infomaniak_access_token:
    file: ./infomaniak_access_token.txt

services:
  traefik:
    container_name: ${TRAEFIK_CONTAINER_NAME}
    image: traefik:${TRAEFIK_VERSION}
    command:
      - --configFile=/etc/traefik/traefik_static.yaml
    restart: unless-stopped
    environment:
      - INFOMANIAK_ACCESS_TOKEN_FILE=/run/secrets/infomaniak_access_token
    networks:
      - traefik_network
    ports:
      - 80:80
      - 443:443
    secrets:
      - infomaniak_access_token
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config:/etc/letsencrypt
      - ./traefik_static.yaml:/etc/traefik/traefik_static.yaml:ro
      - ./traefik_dynamic.yaml:/etc/traefik/traefik_dynamic.yaml:ro
    labels:
      ## Traefik
      - traefik.enable=true
      # Router
      - traefik.http.routers.${TRAEFIK_CONTAINER_NAME}.entryPoints=websecure
      - traefik.http.routers.${TRAEFIK_CONTAINER_NAME}.rule=Host(`${TRAEFIK_FQDN}`)
      # Service
      - traefik.http.routers.${TRAEFIK_CONTAINER_NAME}.service=api@internal
      ## Glance
      - glance.name=Traefik
      - glance.icon=sh:traefik
      - glance.url=https://${TRAEFIK_FQDN}
      - glance.description=Traefik is a modern reverse proxy and load balancer that makes deploying microservices easy.
      - glance.tags=network
