global:
  sendAnonymousUsage: true

log:
  level: INFO

api:
  dashboard: true

providers:
  docker:
    exposedByDefault: false
    network: traefik_network
  file:
    filename: /etc/traefik/traefik_dynamic.yaml
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      middlewares:
        - http-strict-transport-security-header@file
      tls:
        certResolver: letsencrypt
        domains:
          - main: "m3w.ch" # CHANGE_ME
            sans:
              - "*.m3w.ch" # CHANGE_ME

  mc:
    address: ":25565"

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@m3w.ch # CHANGE_ME
      storage: /etc/letsencrypt/acme.json
      dnsChallenge:
        ## The DNS challenge provider configuration.
        # Please visit the docs:
        # https://doc.traefik.io/traefik/https/acme/#providers
        provider: infomaniak # CHANGE_ME
        propagation:
          delayBeforeChecks: 30s
